---
import fiveStarts from "../assets/images/illustration-five-stars.webp";
import IllustrationMultiplePlatforms from "../assets/images/illustration-multiple-platforms.webp";
import IllustrationConsistentSchedule from "../assets/images/illustration-consistent-schedule.webp";
import IllustrationSchedulePosts from "../assets/images/illustration-schedule-posts.webp";
import IllustrationGrowFollowers from "../assets/images/illustration-grow-followers.webp";
import IllustrationAudienceGrowth from "../assets/images/illustration-audience-growth.webp";
import IllustrationCreatePost from "../assets/images/illustration-create-post.webp";
import IllustrationAiContent from "../assets/images/illustration-ai-content.webp";
---

<main class="font-DM bg-[#000]">
    <div class="grid md:grid-cols-4 md:grid-rows-4 gap-10 h-[900px] p-5">
        <!-- #2 Social Media 10x -->
        <section
            class="bg-purple-500 py-8 px-16 rounded-xl md:col-span-2 md:row-span-2 md:order-2 h-64"
        >
            <h1 class="font-semibold text-5xl text-center text-white mb-5">
                Social Media <span class="text-yellow-500">10x</span> Faster with
                AI
            </h1>
            <span class="flex justify-center items-center pb-2">
                <img class="h-9" src={fiveStarts.src} alt="" />
            </span>
            <p class="text-center text-white text-xl">
                Over 4,000 5-star reviews
            </p>
        </section>
        <!-- #5 Manage multiple accounts -->
        <section
            class="bg-white p-6 rounded-xl md:overflow-hidden md:col-span-1 md:row-span-1 md:order-5 md:-mt-40 md:h-64"
        >
            <div>
                <img
                    class="md:h-16 md:object-cover md:max-w-max"
                    src={IllustrationMultiplePlatforms.src}
                    alt=""
                />
            </div>
            <h2
                class="font-semibold text-2xl leading-6 tracking-tight md:text-3xl md:leading-8 md:mt-3"
            >
                Manage multiple accounts and platforms.
            </h2>
        </section>
        <!-- #6 Maintain a consistent posting schedule -->
        <section
            class="px-6 pt-6 bg-yellow-500 rounded-xl md:col-span-1 md:row-span-1 md:order-6 md:-mt-40 md:h-64 overflow-hidden"
        >
            <h3 class="font-semibold text-3xl leading-6 tracking-tight pb-6">
                Maintain a consistent posting schedule.
            </h3>
            <img
                class="h-52 object-cover md:w-full"
                src={IllustrationConsistentSchedule.src}
                alt=""
            />
        </section>
        <!-- #3 Schelude to social media -->
        <section
            class="px-6 pt-6 bg-purple-100 rounded-xl md:col-span-1 md:row-span-3 md:order-3 md:h-[545px]"
        >
            <h4
                class="text-center font-semibold text-3xl leading-6 tracking-tight pt-2 pb-5 md:text-left"
            >
                Schedule to social media.
            </h4>
            <img src={IllustrationSchedulePosts.src} alt="" srcset="" />
            <p class="text-center text-2xl leading-6 py-6 font-medium px-8 md:text-left">
                Optimize post timings to publish content at the perfect time for
                your audience.
            </p>
        </section>
        <!-- #8 Grow followers with non-stop content -->
        <section
            class="py-6 px-14 bg-purple-500 flex flex-col justify-center items-center rounded-xl md:col-span-2 md:row-span-1 md:order-8 md:-mt-24"
        >
            <img class="h-44 mb-7" src={IllustrationGrowFollowers.src} alt="" />
            <h3 class="text-white text-center font-semibold text-3xl leading-6">
                Grow followers with non-stop content.
            </h3>
        </section>
        <!-- #7 56% -->
        <section class="bg-white p-6 rounded-xl md:col-span-1 md:row-span-1 md:order-7 md:-mt-24">
            <h3 class="font-semibold text-5xl md:text-6xl">>56%</h3>
            <p class="my-2 text-lg font-medium">faster audience growth</p>
            <div>
                <img class="h-16" src={IllustrationAudienceGrowth.src} alt="" />
            </div>
        </section>
        <!--
        #1 Create adn schedule content quicker
        -->
        <section
            class="bg-green-400 md:col-span-1 md:row-span-2 bg-yellow-100 px-6 py-8 rounded-xl md:order-1"
        >
            <h3
                class="font-semibold text-4xl leading-7 tracking-tight mb-4 md:text-5xl"
            >
                Create and schedule content <span class="text-purple-500 italic"
                    >quicker.</span>
            </h3>
            <div>
                <img class="h-20" src={IllustrationCreatePost.src} alt="" />
            </div>
        </section>
        <!-- #4 Write your content -->
        <section
            class="md:col-span-1 md:row-span-2 bg-yellow-500 px-6 py-8 rounded-xl md:order-4"
        >
            <h3
                class="font-semibold text-4xl leading-8 tracking-tight mb-4 md:text-4xl md:leading-8 md:pb-6"
            >
                Write your content using AI.
            </h3>
            <img
                class="h-56 md:h-40"
                src={IllustrationAiContent.src}
                alt=""
                srcset=""
            />
        </section>
    </div>
</main>
